@font-face {
    font-family: Panton;
    font-display: swap;
    src: url("../fonts/Panton-ThinItalic.woff2") format("woff2"), url("../fonts/Panton-ThinItalic.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    
}
